In [3]:
import pandas as pd

In [2]:
# Load VIIRS_cleaned data
viirs_cleaned_agg_df = pd.read_csv('viirs_cleaned_dataset.csv')

In [3]:
# Aggregate data by state, longitude, and latitude
viirs_aggregated = viirs_cleaned_agg_df.groupby(['state', 'longitude', 'latitude'], as_index=False).agg({
    'light_intensity': 'mean',  # Average light intensity
    # 'radiance_pct_change': 'mean',  # Average radiance percentage change
    'year': 'first',  # Keep the year (same for the group)
    'month': 'count'  # Count occurrences (should be 3 for Q1 2020)
})

# Rename columns for clarity
viirs_aggregated.rename(columns={'month': 'observations'}, inplace=True)

print(viirs_aggregated.head())

   state  longitude   latitude  light_intensity  year  observations
0  bahia      -46.6 -11.295833         0.340000  2020             3
1  bahia      -46.6 -11.291667         0.240000  2020             3
2  bahia      -46.6 -11.287500         0.303333  2020             3
3  bahia      -46.6 -11.283333         0.296667  2020             3
4  bahia      -46.6 -11.279167         0.290000  2020             2

In [4]:
viirs_aggregated.to_csv('viirs_cleaned_agg_dataset.csv', index=False)

In [4]:
viirs_cleaned_test_df = pd.read_csv('viirs_cleaned_agg_dataset.csv')

In [6]:
viirs_cleaned_test_df.head()

   state  longitude   latitude  light_intensity  year  observations
0  bahia      -46.6 -11.295833         0.340000  2020             3
1  bahia      -46.6 -11.291667         0.240000  2020             3
2  bahia      -46.6 -11.287500         0.303333  2020             3
3  bahia      -46.6 -11.283333         0.296667  2020             3
4  bahia      -46.6 -11.279167         0.290000  2020             2

In [8]:
viirs_cleaned_test_df.describe()

          longitude      latitude  light_intensity       year  observations
count  4.219479e+06  4.219479e+06     4.219479e+06  4219479.0  4.219479e+06
mean  -4.386095e+01 -1.596449e+01     9.672595e-01     2020.0  2.913716e+00
std    3.819068e+00  5.001738e+00     5.649924e+00        0.0  2.817345e-01
min   -5.313333e+01 -2.533750e+01     5.666667e-02     2020.0  1.000000e+00
25%   -4.712917e+01 -2.162083e+01     2.600000e-01     2020.0  3.000000e+00
50%   -4.317083e+01 -1.401667e+01     3.050000e-01     2020.0  3.000000e+00
75%   -4.057500e+01 -1.173333e+01     3.966667e-01     2020.0  3.000000e+00
max   -3.735417e+01 -8.570833e+00     2.819420e+03     2020.0  3.000000e+00

In [9]:
test = viirs_cleaned_test_df['observations'] == 1
viirs_cleaned_test_df[test].value_counts().sum()

1129

In [10]:
test = viirs_cleaned_test_df['observations'] == 2
viirs_cleaned_test_df[test].value_counts().sum()

361816

In [11]:
test = viirs_cleaned_test_df['observations'] == 3
viirs_cleaned_test_df[test].value_counts().sum()

3856534